html
  head
    meta(charset='UTF-8')
    title Shoe Scraper
    link(rel='stylesheet', href='bootstrap.css')
    title Running Shoes Scraper
  body
    include  ../partials/navbar.pug
    .container
      block content
    script(src='/index.js')

