html
  head
    meta(charset='UTF-8')
    title Shoe Scraper
    link(rel='stylesheet', href='bootstrap.css')
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    title Running Shoes Scraper
  body
    include  ../partials/navbar.pug
    .container
      block content
    script(src='/index.js')

