nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.border.border-primary
  .container-fluid.justify-content-evenly
    a.navbar-brand.fw-bold(href='#') Scraped Shoes 
    .navbar-nav.flex-row
      a#home-link.nav-link.mx-3(href='/') Home
      a#about-link.nav-link.mx-3(href='/about') About
      a#gh-link.nav-link.mx-3(href='https://github.com/jack-rabe/shoe-scraper') GitHub 
