<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="shoe.webp" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= shoe_name %></h5>
    <p class="card-text"><%= shoe_price %></p>
  </div>
</div>
