mixin shoe_card(shoe)
  .card.m-3.border.border-primary
    // img.card-img-top(src='shoe.webp', alt='shoe')
    img.card-img-top.p-3(src=shoe.img_url, alt='shoe')
    .card-body
      a.card-title(href=shoe.page_url)= shoe.name 
      p.card-text.mt-2 $#{shoe.price}
