extends ../partials/layout.pug

block content
  h1.m-3 About
  p.
    This project uses python scripts that scrape product data from multiple retailers and aggregates it so that you can find all of the best deals on a single page. Deals are checked daily and direct links are provided to the websites to enable easy access.

  h3.m-3 Technologies Used
  ul.list-group.w-50
    li.list-group-item Backend: #[a(href='https://nodejs.org/en/about/') Node] & #[a(href='https://expressjs.com/') Express]
    li.list-group-item Scraping Scripts: #[a(href='https://selenium-python.readthedocs.io/') Selenium] & #[a(href='https://www.crummy.com/software/BeautifulSoup/bs4/doc/') Beautiful Soup]
    li.list-group-item Frontend: #[a(href='https://pugjs.org/api/getting-started.html') Pug] & #[a(href='https://bootswatch.com/journal/') Bootstrap] (custom theme from Bootswatch)

