<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
<div class="card-group">
	<% for (let idx = 0; idx < data.length; idx++) { %>

		<% let shoe = data[idx] %>
		<%- include('../partials/shoe_card', { shoe_name: shoe.name, shoe_price: shoe.price }); %>

		<% if (idx % 4 == 3 && idx > 0) {	%>
			</div>
			<div class="card-group">
		<% } %>
	<% } %>
</body>
</html>
