extends ../partials/layout.pug
include ../mixins/shoe_card.pug


block content
  style.
   h1 { font-size: 50px }
  - const total_num_shoes = data['total_count'] || data['count']

  h1.text-center.m-3 Men's Running Shoes
  include ../partials/sidebar.pug
  // display all shoes in groups of 4
  .container
    .card-group
      - for (let idx = 0; idx < data.count; idx++)
        - let shoe = data['shoes'][idx]
        +shoe_card(shoe)
        - if (idx % 4 == 3 && idx > 0)
          </div>
          <div class="card-group">
      </div>
    // pagination
    - const num_pages = Math.ceil(total_num_shoes / 52)
    - let pageNumber = 1
  .nav.d-flex.justify-content-center.m-3
    li.page-item
      a#page-back.page-link.border.border-dark <<
    while pageNumber <= num_pages
      li.page-item.border.border-dark
        a.page-link.specific-link= pageNumber
      - pageNumber++
    li.page-item
      a#page-forward.page-link.border.border-dark >>
